<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>bcdiagnosis</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
  <link rel="icon" type="image/png" href="static/favicon.png" />
  
  
      <link rel="stylesheet" href="static/style.css">

  
</head>

<body>

  <h1>BCDiagnosis</h1>
  <p> 
  <p>Hi. Please give a detailed description of how you feel in the textbox below. Please allow up to 45 seconds for the service to finish processing your requests.</p>

<div class="center">
<form method="POST">
    <input  autocomplete="off", name="text">
    <input type="submit">
</form>
{% if got_list %}
    <text>Answer:<br></text>
    {% for item in random_list %}
        <text>{{ item }}<br></text>
    {% endfor %}
{% endif %}

  </form>
    <div id="results">
      <p id="random_word">{{display_title}}</p>
      <p id="word">{{display_word}}</p>
      }</a></p></div>
      
  </div>
</div>






</body>

</html>

