<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Random Word</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" href="static/favicon.png" />
  
  
      <link rel="stylesheet" href="static/style.css">

  
</head>


<body>

  <h1>Memoraise options</h1>
  <p> 
  <p>Enter your flashcards here. <br> Each flashcard should be separated with a | between the term and the definition and a comma between them. <br>  As an example input it could be term1 | definition1, term2 | definition2. <br> If you don't want a demo, just type "demo" in the text box.</p>

<div class="center">
<form method="POST">
    <input  autocomplete="off", name="text">
    <input type="submit">
</form>
{% if got_list %}
    <text>Answer:<br></text>
    {% for item in random_list %}
        <text>{{ item }}<br></text>
    {% endfor %}
{% endif %}

  </form>

</body>

</html>

