html, body{
    background-color: #ebebeb;
    scroll-behavior: smooth;
    margin: 0;
}

/* The navigation bar */
.nav2 {
    overflow: hidden;
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-family: 'Titillium Web', sans-serif;
    z-index:1;
  }

/* Links inside the navbar */
.nav2 a {
    display: block;
    color: black;
    text-decoration: none;
  }
  
  /* Change background on mouse-over */
  .nav2 a:hover {
    background: #ebebeb;
    color: #2c3c5b;
  }

#about p{
  font-size: 1.5vw;
}

  @media only screen and (max-width: 900px) {
    .navHide {
        display: none;
    }
    #about p{
      font-size: 2.5vw;
    }
}
 
@media only screen and (min-width: 740px) {
  .video{
    height: 480px;
    width: 720px;
  }
}

@media only screen and (min-width: 1080px) {
  .video{
    height: 720px;
    width: 1080px;
  }
}

  /* Main content */
  .main {
    margin-top: 56%; /* Add a top margin to avoid content overlay */
    z-index: 0.5;
  }

  #subtitle{
    font-family: 'Bitter', serif;
    font-size: 60px;
  }

.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.contact-image{
  background-attachment: fixed;
  background-image: url(assets/logo.png);
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white;
  font-family:'Bitter', sans-serif;

    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('assets/images/img2.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
}

#WebApp{
  background-color: #fff;
  font-family: 'Bitter';
  display: none;
}

#WebApp p{
  color: black;
}

#WebApp form{
  padding-top: 25vh;
  width: 75vw;
  display: inline-block;
  height: 100vh;
}